# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1-Python
2-R language
3-SQL

Some of the commonly used librairies used by data Scientists include:
1-Pandas
2-NumPy
3-Matplotlib

|Data Science Tools|
|----|
|SAS|
|Jupyter|
|Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in Python .

In [5]:
#This a simple arithmetic expression to mutiply then add integers
a=3
b=4 
c=5 
d=(a*b)+c

print(d)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

# Objectives
In this course we able to know some popular languages for Data Science like :
*Python
*R Language 
*SQL

## Author : 
   Issam Shaibat